@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --text: hsl(204, 38%, 5%);
  --background: hsl(204, 33%, 97%);
  --primary: hsl(204, 40%, 53%);
  --secondary: hsl(275, 40%, 73%);
  --accent: hsl(299, 41%, 64%);
  --font1: "Source Serif4";
  --font2: "Montserrat";
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(204, 38%, 95%);
    --background: hsl(204, 33%, 3%);
    --primary: hsl(204, 40%, 47%);
    --secondary: hsl(275, 40%, 27%);
    --accent: hsl(299, 41%, 36%);
  }
}

img[src$=".svg"] {
  width: 32px;
  height: 32px;
}

img[src$=".svg"]:hover:active,
img[src$=".webp"]:hover:active,
img[src$=".png"]:hover:active {
  transform: scale(1.2);
}

body {
  background-color: var(--background);
  color: var(--text);
}

.author-details {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  gap: 4px;
  overflow: hidden;
}

.author-details .display-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-family: var(--font2);
  font-weight: 700;
}

.author-details .display-image img {
  border-radius: 50%;
  border: 4px solid var(--text);
}

.decoration {
  position: absolute;
  z-index: -1;
  background-color: var(--primary);
  rotate: 354deg;
  width: calc(100vw * 2);
  height: calc(150vh / 1.5);
  transform: translateY(calc(100vh / -2));
}

.author-details .about-me {
  display: flex;
  flex-direction: column;
  font-family: var(--font1);
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 4px;
}

.about-me h1 {
  font-family: var(--font2);
}

.about-me .icons {
  display: flex;
  gap: 8px;
}

.about-me .icons img {
  filter: invert(1);
}

.about-me .icons a:nth-child(2) img {
  filter: invert(0);
}

.author-work {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  margin: 8px;
  font-family: var(--font2);
}

.project-cards {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.project-card {
  border-radius: 8px;
  font-family: var(--font1);
  background-color: var(--primary);
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
}

.project-card .project-details .project-header {
  display: flex;
  justify-content: space-between;
}

.project-card .project-details .project-header .icons {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
}

.author-contact .contact-details {
  margin: 8px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.author-contact .contact-ids .phone,
.author-contact .contact-ids .email,
.author-contact .social-media {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}

.author-contact img[src$=".svg"] {
  filter: invert(1);
}
.author-contact .social-media a:nth-child(2) img {
  filter: invert(0);
}

@media (prefers-color-scheme: light) {
  .about-me .icons img {
    filter: invert(0);
  }
  .decoration {
    width: calc(100vw);
    height: 90vh;
    rotate: 0deg;
  }
  .about-me p {
    font-weight: 400;
  }
  .author-contact img[src$=".svg"] {
    filter: invert(0);
  }
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-areas:
      "details"
      "work"
      "contact";
  }

  .author-details {
    grid-area: details;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .author-details .about-me {
    background-color: var(--text);
    color: var(--background);
    padding: 20px 12px;
    border-radius: 8px;
  }

  .author-details .about-me h1 {
    font-size: 2rem;
  }

  .author-details .about-me p {
    font-weight: 500;
    line-height: 1em;
    font-size: 1.5em;
  }

  .author-details .about-me .icons img {
    filter: invert(0);
  }

  .author-work {
    grid-area: work;
  }

  .author-contact {
    grid-area: contact;
  }
}
